.edit{
  width:100vw;
  height:100vh;

  #picture{
    width:100vw;
    height:100vw;
    display:inline-block;
  }
  #footer{
    display:inline-block;
    bottom:0px;
    width:100vw;
    height:auto;
  }
}
