.userhlist{
  margin:4px;
  .rating{
    float:left;
    font-size:20px;
    line-height:64px;
    margin:0 20px;
  }
  .avatar{
    float:left;
    margin:0 4px;
  }
  .item{
    width:64px;
    display:inline-block;
    margin:0 1px;
  }
}
